<!DOCTYPE html>
<html lang="en">

<% include head %>

<body>
  <% if (message) { %>
  <p><%= message %></p>
  <% } %>

  Job Name: <%= job.job_name %> <br />
  Target Number: <%= job.target_number %> <br />
  Frequency: Every <%= job.frequency %> hours. <br />
  Messages: <br />
  <%= job.messages %>

  <% include jsinclude %>
</body>

</html>